.navigation-links-nav {
  flex: 0 0 auto;
  width: 351px;
  height: 23px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.navigation-links-link {
  display: contents;
}
.navigation-links-image {
  width: 21px;
  object-fit: cover;
  margin-right: var(--dl-space-space-halfunit);
  text-decoration: none;
}










@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
}
